body {
    background-color: rgb(255, 255, 255) ;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

.rede {
    scale: 2;
}

header {
    background-color: #3603D2;
    padding: 0 30px; /* Adjust padding to remove top and bottom padding */
    height: 100px; /* Set a fixed height for the header */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-end; /* Align items to the right */
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0 30px; /* Increased margin for more spacing */
}

header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header ul li a img {
    width: 100%;
}

.icones {
    flex-grow: 1; /* Makes the middle section occupy the remaining space */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 20px; /* Add padding for content */
}

.icones ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.icones ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0 100px; /* Increased margin for more spacing */
}

.icones ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.icones ul li a img {
    width: 100%;
}


.icone {
    scale: 7;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.container {
    padding: 80px 50px;
    display: grid;
    grid-template-columns: repeat(4, auto); /* Creates 4 equal-width columns */
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.container img {
    height: 400px;
}